<html>
<head><title>Ajouter des contacts</title></head>
<body><center>
<table>
<form action="/auto/addAuto" method="post">
<tr>
	<td>Immatricule</td>
	<td><input type="text" name="immatricule" id="immatricule"  /> </td>
</tr>
<tr>
	<td>Couleur</td>
	<td><input type="text" name="couleur" id="couleur"  /> </td>
</tr>
<tr>
	<td>Marque</td>
	<td><input type="text" name="marque" id="marque" "/>
	 </td>
</tr>
<tr>
	<td>Prix</td>
	<td><input type="text" name="prix" id="prix" "/>
	 </td>
</tr>
<tr>
	<td colspan="2" align="center">
	<input type="submit" value="Ajouter" />
	</td>
</tr>
</form>
</table>
</center>
</body>
</html>
