{% extends 'layout.twig' %}

{% block body %}
    <!-- Uses a transparent header that draws on top of the layout's background -->
    <style>

        .demo-layout-transparent {
            background-color: #f4f4f4;
        }

        .demo-layout-transparent .mdl-layout__header,
        .demo-layout-transparent .mdl-layout__drawer-button {
            /* This background is dark, so we set text to white. Use 87% black instead if
               your background is light. */
            color: white;
        }
    </style>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{ title }}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/users">Users</a>
                    <a class="mdl-navigation__link" href="/brands">Brands</a>
                    <a class="mdl-navigation__link" href="/spareParts">Spare parts</a>
                    <a class="mdl-navigation__link" href="/login/logout">LogOut</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/users">Users</a>
                <a class="mdl-navigation__link" href="/brands">Brands</a>
                <a class="mdl-navigation__link" href="/spareParts">Brands</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script>
        var socket = io.connect('http://localhost:3000');
    </script>
{% endblock %}
