
<!DOCTYPE html>
<html lang="fr-FR">
<head>
<!--<form method="post" enctype="multipart/form-data" action="/auto/upload">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>-->
<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://premium-rentcar.com/wp-content/uploads/2021/03/unnamed-223x112.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
</head>
<body>
<h1><strong>Lost Of Cars</strong></h1>
<table >
<form action="/cars/rechercher" method="post" >
<tr>
	<td>Brand </td>
	<td><input type="text" name="name" id="name" /> </td>
</tr>
<tr>
	<td>Color </td>
	<td><input type="text" name="color" id="color" /> </td>
</tr>
<tr>
	<td colspan="2" align="center">
	<input type="submit" value="Rechercher" />
	</td>
</tr>
</form>
<br>
</table>
 {% for item in cars %} 
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
  Brand : {{item.name}}
  </div>
    <div class="mdl-card__supporting-text">
  Registered : {{item.registered}}
  </div>
      <div class="mdl-card__supporting-text">
  Price : {{item.price}} DT
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Color: {{item.color}}
    </a>
  </div>
</div>
 {% endfor %} 
</body>
